<!DOCTYPE html>
  <html>
  <head>
    <title>GetEmail</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <% if ( messages.info) { %>
        <div class="alert alert-info alert-dismissable" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <p><%= messages.info %></p>
        </div>
          <% } %>
          <% if ( messages.error) { %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <p><%= messages.error %></p>
        </div>
          <% } %>
      <h2>Enter your email</h2>
      <form action="/getmail" method="post">
        <div class="form-group">
          <!-- <label for="email">Email:</label> -->
          <input type="email" class="form-control" id="email" onchange="return validateEmail()" placeholder="Enter Email" name="email" required>
        </div>
        <p id="emailerror" style="color: red"></p>
        <button type="submit" class="btn btn-primary" onsubmit="return submit()">Submit</button>
      </form>
    </div>
    <script type="text/javascript">
      function submit(){
        if(validateEmail()){
          return true;
        }
        else{
          return false;
        }
      }
      function validateEmail(){
        var first = document.getElementById('email').value;
        var emailexp = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if(!first.match(emailexp)){
          document.getElementById('emailerror').innerHTML = "Invalid email";
          document.getElementById('email').focus();
          return false;
        }
        else{
          document.getElementById('emailerror').innerHTML = "";
          return true;
        }
      }
    </script>
  </body>
</html>
