<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% include header %>
<section id="login">
    <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="form-wrap">
                <h1>Sign up</h1>
                  <form action="/registration" method="post"  onsubmit="return validateForm()">
                    <div class="form-group">
                      <!-- <label for="name">Name:</label> -->
                      <input type="text" class="form-control" id="name" onchange="return validateName()" placeholder="Enter Name" name="name" pattern="[A-Za-z\s]+" title="Only Alphabet" required>
                    </div>
                    <p id="nameerror" style="color: red"> </p>
                    <div class="form-group">
                      <!-- <label for="username">Username:</label> -->
                      <input type="text" class="form-control" id="username" onchange="return validateUsername()" placeholder="Enter UserName" name="username" pattern="[A-Za-z0-9]+" title="Only Digit and Alphabet" required>
                    </div>
                    <p id="usernameerror" style="color: red"> </p>
                    <div class="form-group">
                      <!-- <label for="email">Email:</label> -->
                      <input type="email" class="form-control" id="email" onchange="return validateEmail()" placeholder="Enter Email" name="email" required>
                    </div>
                    <p id="emailerror" style="color: red"></p>
                    <div class="form-group">
                      <!-- <label for="password">Password:</label> -->
                      <input type="password" class="form-control" id="password" onchange="return validatePassword()" placeholder="Enter password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required>
                    </div>
                    <p id="passworderror" style="color: red"></p>
                    <div class="form-group">
                      <!-- <label for="password">Password:</label> -->
                      <input type="password" class="form-control" id="cpassword" onchange="return validatePassword()" placeholder="Enter confirm password" name="cpassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required>
                    </div>
                    <p id="cpassworderror" style="color: red"></p>
                    <button type="submit" class="btn btn-custom btn-lg btn-block btn-primary">Submit</button>
                  </form>
                    <hr>
              </div>
        </div> <!-- /.col-xs-12 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

    <script type="text/javascript">
      function validateForm(){
        if(validateName() && validateUsername() && validatePassword() && validateEmail() && confirmpassword()){
          return true;
        }
        else{
          return false;
        }
      }
      function confirmpassword(){

        if(document.getElementById('password').value === document.getElementById('cpassword').value){
          return true;
        }
        else{
          document.getElementById('cpassworderror').innerHTML = "Password not mathched";
          return false;
        }
      }
      function validateName(){
        var first = document.getElementById('name').value;
        var letter = /^[a-zA-Z]+$/;
        if(!first.match(letter)){
          document.getElementById('nameerror').innerHTML = "Only letters allowed";
          document.getElementById('name').focus();
          return false;
        }
        else{
          document.getElementById('nameerror').innerHTML = "";
          return true;
        }
      }
      function validateUsername(){
        var first = document.getElementById('username').value;
        var letter = /^[a-zA-Z0-9]+$/;
        if(!first.match(letter)){
          document.getElementById('usernameerror').innerHTML = "Only letters & digits are allowed";
          document.getElementById('username').focus();
          return false;
        }
        else{
          document.getElementById('usernameerror').innerHTML = "";
          return true;
        }
      }
      function validateEmail(){
        var first = document.getElementById('email').value;
        var emailexp = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if(!first.match(emailexp)){
          document.getElementById('emailerror').innerHTML = "Invalid email";
          document.getElementById('email').focus();
          return false;
        }
        else{
          document.getElementById('emailerror').innerHTML = "";
          return true;
        }
      }
      function validatePassword(){
        var first = document.getElementById('password').value;
        var passwordexp = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
        if(!first.match(passwordexp)){
          document.getElementById('passworderror').innerHTML = "Password must contain a lowercase, uppercase, number and minimum  8 characters";
          //document.getElementById('password').focus();
          return false;
        }
        else{
          document.getElementById('passworderror').innerHTML = "";
          return true;
        }
      }
    </script>
  </body>
</html>
