<!DOCTYPE html>
<html>
  <head>
    <title>New password</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <h2>Enter new password</h2>
      <form action="/setpassword" method="post"  onsubmit="return validateForm()">
        <div class="form-group">
          <!-- <label for="password">Password:</label> -->
          <input type="password" class="form-control" id="password" onchange="return validatePassword()" placeholder="Enter password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required>
        </div>
        <p id="passworderror" style="color: red"></p>
        <div class="form-group">
          <!-- <label for="password">Password:</label> -->
          <input type="password" class="form-control" id="cpassword" onchange="return validatePassword()" placeholder="Enter confirm password" name="cpassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required>
        </div>
          <p id="cpassworderror" style="color: red"></p>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script type="text/javascript">
      function validateForm(){
        if(validatePassword() && confirmpassword()){
          return true;
        }
        else{
          return false;
        }
      }
      function validatePassword(){
        var first = document.getElementById('password').value;
        var passwordexp = ("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");
        if(!first.match(letterNumber)){
          document.getElementById('passworderror').innerHTML = "Password must contain a lowercase, uppercase, number and minimum  8 characters";
          document.getElementById('password').focus();
          return false;
        }
        else{
          document.getElementById('passworderror').innerHTML = "";
          return true;
        }
      }
      function confirmpassword(){
        if(document.getElementById('password').value === document.getElementById('cpassword').value){
          return true;
        }
        else{
          document.getElementById('cpassworderror').innerHTML = "Password not mathched";
          return false;
        }
      }
    </script>
  </body>
</html>
