<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
		<% include bootstrapcss %>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<style type="text/css">
			.nav-tabs {
				border: none;
			}
			.twitter-profile img.fb-image-lg{
				z-index: 0;
				width: 100%;
				margin-bottom: 10px;
				height: 50vh;
			}
			.twitter-image-profile
			{
				margin: -90px 10px 20px 80px;
				z-index: 9;
				width: 20%;
			}

/*------------------------MEDIA QUERY---------------------------*/
			@media (max-width:768px){

				.twitter-profile-text>h1{
					font-weight: 700;
					font-size:16px;
				}
				.twitter-image-profile{
					margin: -45px 10px 0px 25px;
					z-index: 9;
					width: 20%;
				}
			}
		</style>
	</head>
	<body>
		<div class="row" >
			<% include home-header %>
		</div>
		<div class="container-fluid" id="main" style="width: 90%">
			<div class="row">
			<div class="twitter-profile">
					<img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
					<img align="left" class="twitter-image-profile img-thumbnail img-circle"
								src="<%= user.imgpath %>" alt="Profile image example"/>
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#tab_default_1" id="showTweets" data-toggle="tab">
							Tweets </a>
						</li>
						<li>
							<a href="#tab_default_2" data-toggle="tab">
						 		Followers
						 	</a>
						</li>
						<li>
							<a href="#tab_default_3" data-toggle="tab">
						 		Following
						 	</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<table class="table borderless" align="center">
						<tr>
							<th>Tweets</th>
							<th>Followers</th>
							<th>Following</th>
						</tr>
						<tr>
							<td><%= user.tweetcount %></td>
							<td><%= user.followercount %></td>
							<td><%= user.followingcount %></td>
						</tr>
					</table>
				</div>
				<div class="col-md-9">
					<div class="row showresult" id="result">

					</div>
				</div>
			</div>
		</div>
		<% include bootstrapjs %>
		<script type="text/javascript" src="javascript/tweet.js"></script>
		<script type="text/javascript" src="javascript/searchuser.js"></script>
		<script type="text/javascript" src="javascript/like.js"></script>
		<script type="text/javascript" src="javascript/onready.js"></script>
		<script type="text/javascript" src="javascript/fixheader.js"></script>
		<script type="text/javascript" src="javascript/showfollowersfollowing.js"></script>
	</body>
</html>
